body {
    background-color: #63b183;
}

h1, h2 {
  text-align: center;
  font-family: helvetica;
}
#addChildInfoTable {
  border: 2px solid black;
  border-collapse: collapse;
  width: 96%;
}
table {
  border-radius: 10%;
  font-family: helvetica;
  border: 40px;
}

th, td {
  font-family: helvetica;
  border: 2px solid black;
  padding: 4px;
}

form {
  width: 96%;
  padding-top: 20px;
}
